$uni-color-primary: #1c2520;
$uni-color-success: #68833e;
$uni-color-warning: #b6984a;
$uni-color-error: #a84f3d;
$uni-text-color: #1c2520;
$uni-text-color-grey: #77806f;
$uni-bg-color: #f4f2e9;
$uni-border-color: #c6cbbd;
